.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
    .sidebar .offcanvas-lg {
        position: -webkit-sticky;
        position: sticky;
        top: 48px;
    }
    .navbar-search {
        display: block;
    }
}

.sidebar .nav-link {
    font-size: 0.875rem;
    font-weight: 500;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar-heading {
    font-size: 0.75rem;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}
.nav-link {
    color: black !important;
    font-weight: normal;
}

.nav-link.active {
    color: black !important;
    font-weight: bold;
    background-color: #e9ecef; /* atau warna lain sesuai desain kamu */
    border-radius: 0.375rem; /* biar ada efek rounded */
}

.navbar .form-control {
    padding: 0.75rem 1rem;
}
#sidebarMenu .offcanvas-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#sidebarMenu .logout-footer {
    margin-top: auto;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
}
html,
body {
    height: 100vh;
}

.flex-grow-1 {
    overflow-y: auto;
}


