.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-registration input {
    border-radius: 0;
    margin-bottom: -1px;
}
.footer {
    position:fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #0a3d62;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 60px; /* agar teks di tengah secara vertikal */
}
